<!doctype html>
<html>
  <head>
  	<link rel='stylesheet' href="{{ url_for('static', filename='aspects_style.css') }}">
    <title>Проверка текста</title>
  </head>
  <body>

  	<div class='editing_table'>
      
      <div class='submit' id='submitCheckingForm'>
        <div id='checking_options'>

        </div>
        <input type="button" name="submit_checking" value="Проверить выбранные аспекты новой версии текста" />
      </div>

  	  <div class='editing_column source_text'>
  	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sunt explicabo aliquid, hic ipsum? Nesciunt sed consequatur velit cumque laboriosam quia eligendi, totam, provident sunt natus, consequuntur possimus! Maxime molestias, ipsam voluptate doloremque. Eum iste odit, possimus, ipsam totam, exercitationem officia, impedit animi in fuga nam? Delectus nihil neque cum
  	  </div>
  	  <div class='editing_column edited_text'>
  	  	<textarea class='edited_text_field'>
	At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
	</textarea>
  	  </div>
  	</div>

  	<script type=text/javascript src="{{url_for('static', filename="jquery-3.5.1.min.js") }}"></script>

	<script type=text/javascript src="{{url_for('static', filename="jquery.form.min.js") }}"></script> 
  <script type=text/javascript src="{{url_for('static', filename="highlighting.js") }}"></script> 

  	<script>

  		var text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sunt explicabo aliquid, hic ipsum? Nesciunt sed consequatur velit cumque laboriosam quia eligendi, totam, provident sunt natus, consequuntur possimus! Maxime molestias, ipsam voluptate doloremque. Eum iste odit, possimus, ipsam totam, exercitationem officia, impedit animi in fuga nam? Delectu nihil neque cum'
  		var mistakesPositions = {
        'dummySpelling': [{
          'bos':5,
          'end':10,
          'len':5,
          'text': ' ipsum',
          'mistake_type': 'dummy'
        }],
        'dummyRepeat': [{
          'bos':8,
          'end':20,
          'len':5,
          'text': ' ipsum',
          'mistake_type': 'dummy'
        }, {
          'bos':30,
          'end':40,
          'len':5,
          'text': ' ipsum',
          'mistake_type': 'dummy'
        }]
      }

		var highlightedText = highlightText(text, mistakesPositions);
    console.log('highlightedText: ', highlightedText);

		$(".source_text").html(highlightedText);

		$('.edited_text_field').text(text);

		$('.edited_text').on( 'change keyup keydown paste cut', 'textarea', function (){
    		$(this).height(0).height(this.scrollHeight);
		}).find( 'textarea' ).change();

		$(window).on('resize', function(){$('textarea').change()});
  	</script>


</body> 
</html>

