<!doctype html>
<html>
  <head>
    <title>Проверьте ваш академический текст</title>
  </head>
  <body>
     <form id="docx-form" method="post">
		<input accept='.txt, .docx' id="docx-file" type="file" name="file">
	</form>
	 
	<script type=text/javascript src="{{url_for('static', filename="jquery-3.5.1.min.js") }}"></script> 

	<script type=text/javascript src="{{url_for('static', filename="jquery.form.min.js") }}"></script> 

   <!-- <iframe src="http://localhost:5000/uploads/student_text.txt" id="docx_frame" height="1000" width="1000"></iframe> -->
	<script>


	$('#docx-file').change(function() {
		$('#docx-form').ajaxSubmit({
			method: 'post',
			type: 'post',
			url: '/upload_file',
			success: function(data) {
				// После загрузки файла очистим форму.
				console.log(data);
				window.location.replace(encodeURI("/spelling_form?file_id=" + data.file_id));
			}
		// }).done(function(data) {
		// 		// После загрузки файла очистим форму.
		// 		console.log(data);
		// 		//window.location.replace(encodeURI("/spelling_form?file_id=" + data.file_id));
	 	});
	});
	</script>
</body>
</html>